---
import Example from "../components/example/Example.astro";
import { examples } from "../examples";
import Layout from "../layouts/Layout.astro";
---

<style is:global>
    html {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGxpbmUgeDE9IjUiIHkxPSI1IiB4Mj0iMTUiIHkyPSIxNSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2Utb3BhY2l0eT0iMC4wNyIvPjxsaW5lIHgxPSIxNSIgeTE9IjUiIHgyPSI1IiB5Mj0iMTUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLW9wYWNpdHk9IjAuMDciLz48bGluZSB4MT0iMjUiIHkxPSIyNSIgeDI9IjM1IiB5Mj0iMzUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLW9wYWNpdHk9IjAuMDciLz48bGluZSB4MT0iMzUiIHkxPSIyNSIgeDI9IjI1IiB5Mj0iMzUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLW9wYWNpdHk9IjAuMDciLz48L3N2Zz4=");
        background-size: 40px 40px;
    }
</style>

<Layout>
    <button
        id="toggle-sidebar"
        class="fixed top-4 left-4 z-20 p-2 bg-[#FFFFFF] rounded shadow lg:hidden"
    >
        <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
    </button>

    <main
        id="examples-main"
        data-sidebar-open="false"
        class="group flex justify-center items-center min-h-screen"
    >
        <aside
            id="sidebar"
            class="fixed overflow-y-auto left-0 top-0 h-screen bg-[#FFF7EF] border-r border-slate-200 px-4 transform -translate-x-full transition-transform duration-200 ease-out z-10 shadow-lg group-data-[sidebar-open=true]:translate-x-0 lg:translate-x-0"
        >
            <div class="flex items-center justify-end lg:justify-center my-4">
                <div class="flex justify-center items-center">
                    <a href="/byegl">
                        <img
                            src="/byegl/byegl-logo-light.svg"
                            alt="byegl logo"
                            class="h-10"
                        />
                    </a>
                    <h1 class="mt-1 ml-2">— examples</h1>
                </div>
            </div>
            <h1 class="sr-only">byegl</h1>
            <ul class="grid gap-2">
                {
                    Object.entries(examples)
                        .filter(
                            ([_, example]) =>
                                import.meta.env.DEV || !example.meta.draft,
                        )
                        .map(([id, example]) => (
                            <li>
                                <a class="btn min-w-48 w-full" href={`#${id}`}>
                                    {example.meta.name}
                                    {example.meta.draft ? " (draft)" : ""}
                                </a>
                            </li>
                        ))
                }
            </ul>
        </aside>

        <div
            id="main-content"
            class="flex items-center justify-center transition-margin duration-300 lg:ml-32 xl:ml-64"
        >
            <Example />
        </div>
    </main>

    <script>
        const toggleBtn = document.getElementById("toggle-sidebar")!;
        const main = document.getElementById("examples-main")!;

        function toggleSidebar() {
            main.dataset.sidebarOpen =
                main.dataset.sidebarOpen === "true" ? "false" : "true";
        }

        toggleBtn.addEventListener("click", toggleSidebar);

        // Hide sidebar when clicking on an example
        const exampleLinks = document.querySelectorAll('#sidebar a[href^="#"]');
        exampleLinks.forEach((link) => {
            link.addEventListener("click", () => {
                main.dataset.sidebarOpen = "false";
            });
        });
    </script>
</Layout>
