---
import Example from "../components/example/Example.astro";
---

<div>
    <h1>Examples</h1>
    <aside>
        <ul>
            <li><a href="#white-triangle">White Triangle</a></li>
        </ul>
    </aside>
    <main>
        <Example />
    </main>
</div>
