---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main class="p-4">
        <h1 class="text-4xl my-4">WebGL on WebGPU</h1>
        <p class="my-4">
            This project aims to reimplement the WebGL API on top of WebGPU,
            which will allow established WebGL-based projects to gradually
            migrate to the WebGPU over time.
        </p>
        <a class="btn" href="/examples">Explore examples</a>
    </main>
</Layout>
