---
import * as gettingStarted from '../content/getting-started.mdx';
import Layout from '../layouts/Layout.astro';
---

<style is:global>
    html {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGxpbmUgeDE9IjUiIHkxPSI1IiB4Mj0iMTUiIHkyPSIxNSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2Utb3BhY2l0eT0iMC4wNyIvPjxsaW5lIHgxPSIxNSIgeTE9IjUiIHgyPSI1IiB5Mj0iMTUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLW9wYWNpdHk9IjAuMDciLz48bGluZSB4MT0iMjUiIHkxPSIyNSIgeDI9IjM1IiB5Mj0iMzUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLW9wYWNpdHk9IjAuMDciLz48bGluZSB4MT0iMzUiIHkxPSIyNSIgeDI9IjI1IiB5Mj0iMzUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLW9wYWNpdHk9IjAuMDciLz48L3N2Zz4=");
        background-size: 40px 40px;
    }
</style>

<Layout>
    <script>
        import "bsky-embed/dist/bsky-embed.es.js";
    </script>
    <main class="p-4">
        <img
            src="/byegl/byegl-logo-light.svg"
            alt="byegl logo"
            class="mx-auto my-8 h-16"
        />
        <h1 class="sr-only">byegl</h1>
        <p class="my-10 mx-auto max-w-3xl text-center">
            This project aims to reimplement the WebGL API on top of WebGPU,
            which will allow established WebGL-based projects to gradually
            migrate to the WebGPU over time.
        </p>
        <div class="flex justify-center gap-2 mb-32">
            <a class="btn" href="/byegl/examples">Explore examples</a>
            <a
                class="btn btn-primary"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/software-mansion-labs/byegl"
            >
                Contribute
            </a>
        </div>
        <section class="my-10 mx-auto max-w-3xl mb-16 markdown">
            <gettingStarted.Content />
        </section>
        <section class="my-10 mx-auto max-w-3xl mb-16">
            <h2 class="text-center text-2xl font-bold mb-4">News & Updates</h2>
            <p class="text-center mb-6">
                Stay updated with the latest news about byegl on <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://twitter.com/iwoplaza"
                    class="link">X</a
                > or <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://bsky.app/hashtag/byegl?author=iwoplaza.dev"
                    class="link">Bluesky</a
                >. Follow posts tagged with
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://bsky.app/hashtag/byegl?author=iwoplaza.dev"
                    class="link">#byegl</a
                >.
            </p>
            <div class="flex justify-center">
                <bsky-embed
                    search="#byegl from:iwoplaza.dev"
                    limit="3"
                    link-target="_blank"
                    link-image="true"></bsky-embed>
            </div>
        </section>
    </main>
</Layout>
