---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main class="p-4">
        <img
            src="/byegl/byegl-logo-light.svg"
            alt="byegl logo"
            class="mx-auto h-16 dark:hidden"
        />
        <img
            src="/byegl/byegl-logo-dark.svg"
            alt="byegl logo"
            class="mx-auto h-16 hidden dark:block"
        />
        <h1 class="text-4xl my-4 sr-only">byegl</h1>
        <p class="my-10 mx-auto max-w-3xl text-center">
            This project aims to reimplement the WebGL API on top of WebGPU,
            which will allow established WebGL-based projects to gradually
            migrate to the WebGPU over time.
        </p>
        <div class="flex justify-center">
            <a class="btn" href="/byegl/examples">Explore examples</a>
        </div>
    </main>
</Layout>
