<main
    id="example--main"
    class="group flex flex-col justify-center items-center gap-2 place-content-center"
>
    <div
        class="group-[[data-show-example]]:flex not-group-[[data-show-example]]:hidden justify-center items-center flex-wrap gap-2"
    >
        <div>
            <h2 class="text-center group-[[data-uses-hooks=true]]:hidden">
                Actual
            </h2>
            <canvas
                width="1024"
                height="1024"
                class="h-[40vh] max-w-[40vh] max-h-[40vh] group-[[data-uses-hooks=true]]:h-[80vh] group-[[data-uses-hooks=true]]:max-h-[80vh] group-[[data-uses-hooks=true]]:max-w-[80vh]"
                id="canvas"></canvas>
        </div>
        <div class="group-[[data-uses-hooks=true]]:hidden">
            <h2 class="text-center">Ground Truth</h2>
            <canvas
                width="1024"
                height="1024"
                class="h-[40vh] max-w-[40vh] max-h-[40vh]"
                id="ground-truth-canvas"
            >
            </canvas>
        </div>
    </div>
    <p
        id="webgpu-unsupported"
        class="bg-red-700 text-white rounded-lg p-2 hidden"
    >
        byegl requires your browser to support WebGPU
    </p>
    <textarea id="trace-log" class="flex-1 w-full empty:hidden"></textarea>
    <p
        class="group-[[data-show-example]]:hidden not-group-[[data-show-example]]:block"
    >
        Choose an example from the list 💜
    </p>
    <a
        id="source-code-button"
        class="btn btn-primary fixed bottom-4 right-4 hidden"
        target="_blank"
        rel="noopener noreferrer"
    >
        Source code
    </a>
</main>

<script>
    import { examples } from "../../examples/index.ts";
    import { getCurrentExampleFromUrl, runExample } from "./example-runner.ts";

    function runCurrentExample() {
        const webgpuUnsupported = document.getElementById(
            "webgpu-unsupported",
        ) as HTMLParagraphElement;
        webgpuUnsupported.classList.add("hidden");

        const exampleMainEl = document.getElementById(
            "example--main",
        ) as HTMLDivElement;

        const sourceButton = document.getElementById(
            "source-code-button",
        ) as HTMLAnchorElement;

        const exampleKey = getCurrentExampleFromUrl();
        if (!exampleKey) {
            delete exampleMainEl.dataset.showExample;
            sourceButton.classList.add("hidden");
            return;
        }
        const example = examples[exampleKey];
        exampleMainEl.dataset.showExample = "true";
        exampleMainEl.dataset.usesHooks = example.meta.usesHooks
            ? "true"
            : "false";

        // Set source code button
        sourceButton.href = `https://github.com/software-mansion-labs/byegl/blob/main/apps/docs/src/examples/${exampleKey}/index.ts`;
        sourceButton.classList.remove("hidden");

        runExample(example).catch(() => {
            webgpuUnsupported.classList.remove("hidden");
        });
    }

    // Listening to when the current URL changes
    window.addEventListener("hashchange", runCurrentExample);
    runCurrentExample();
</script>
